html {
	background-image: url('../media/fondo.png');
	background-size: 100px;
	font-family: arial;
}


}

a {
	text-decoration: none;
	color: #000;
}

li {
	list-style: none;
}

body {
	margin: auto;
	width: 100%;
	max-width: 1600px;
	justify-self: center;
	display: grid;
	grid-template-columns: 15% 85% ;
	box-shadow: 5px 5px 20px #333;

	overflow-x: hidden;
}


header {
	backdrop-filter: blur(3px);
	background-image: linear-gradient(20deg, #D9EAD3, #D9EAD3, transparent);
	padding: 40px 40px 40px 40px;
	position: relative;
	grid-column: 1/3;
}

h1 {
	font-weight: 900;
	text-align: right;
	font-size: 45px;
	margin: auto;
	min-height: 90px;
	padding: 5px;
	display: grid;
	align-items: center;
}

span {
	display: none;
	font-weight: bold;
	color: #888;
	font-size: 20px;
	text-shadow: 0 0 6px #fff;
}

nav {
	background-color: #D9EAD3;
	position: relative;
	margin-top: -1px;
}

.menu-btn {
	padding: 0 6px 0 6px;
	position: sticky;
	top: 0;
	display: none;
	margin: auto;

}

#btn {
	margin: auto;
}

.menu {
	list-style: none;
	padding: 0;
	padding-top: 80px;
	position: sticky;
	top: 40px;


}

nav ul li {
	transition: all ease-in-out 0.3s;
	transition-delay: 0.2s;
	display: grid;
}

nav ul li:hover {
	background-color: #FFFFB3;
}

nav ul li:hover a{
	margin-right: 0;
	padding-left: 25px;
}


nav ul li a {
	display: inline-block;
	padding: 20px 10px 20px 15px;
	text-align: right;
	border-right: 6px solid #FFFFB3;
	transition: all ease-in-out 0.2s;
	margin-right: 10px;
	justify-self: end;

	text-decoration: none;
	color: #000;
}

article {
	background-color: #f2f9fa;
	padding: 40px;
	margin: -1px, 0,-1px,-1px,;
}

.padretitulo {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.logo,
.logohodl {
	background-image: url('../media/Moss.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.logo,
.espaciador {
	margin: 20px;
	padding-top: 100%;
	position: relative;
}

.espaciador {

}

.ilogo {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 86%;
	backdrop-filter:  blur(0.8px);
}

	.bigger {
		width: 70% ;
	}

.titulo {
	background-color: #FFFFB3;
	padding-right: 40px;
	margin: auto;
	margin-right: -40px;
	text-align: center;
	width: 100%;
	border-top-left-radius: 60px;
	border-bottom-left-radius: 20px;
	box-shadow: -5px 5px 15px #aaa;
}

h2 {
	margin-right: 10px;
	margin-left: 20px;
}

.texto {
	text-align: justify;
	margin: 20px;

}

.texto p {
	margin: 0;
}

.criterios {
	background-color: #FFFFB3;
	padding: 5px;
	border-radius: 20px;	
	box-shadow: 5px 5px 10px #aaa;
}
	.x2 {
		grid-column: span 2;
	}

.criterios li {
	padding: 15px;
	margin: 5px;
	background-color: #D9EAD3;
	border-radius: 20px;
	box-shadow: 2px 2px 5px #aaa;
}

	.criterios .cont {
		background-color: #f2f9fa;
	}

	.criterios .img-block {
		display: flex;
		justify-content: center;
		padding: 0;
	}

.baraja{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2em;
	grid-row-gap: 2em;
	margin-bottom: 5em;
}
	.baraja .criterios {
		margin: 0;
	}

.tarjeta {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
}

.tarjeta-index {
	display: grid;
}

.tarjeta,
.tarjeta-index {
	background-color: rgba(217,234,211,0.95);
	border-radius: 30px;
	box-shadow: 5px 5px 10px #aaa;
	align-items: center;
	text-decoration: none;
	color: #000;
}
	.tarjeta .texto {
		display: grid;
		align-items: center;
		justify-content: center;
		
		width: 95%;
	}


.captura {
	width: 95%;
	border-radius: 10px;
	margin-top: 20px;
	justify-self: center;
}
	.sola {
		margin-bottom: 20px;
	}


.detalle {
	text-align: center;
	margin: 40px, 0;
}
	.detalle a {
		color: blueviolet;
	}

h3 {
	text-align: center;
	grid-column: 1/3;
}

.logohodl {
	aspect-ratio: 1 / 1;
	margin-bottom: 15px;
	position: relative;
}

footer {
	grid-column: 1/3;
	text-align: center;
	background-color: #ddd;
	color: #888;
	z-index: 10;
	margin-top: -1px;
	padding: 50px;
}

@media (max-width: 1200px) {
	
	.baraja {
		grid-template-columns: 1fr;
	}
	.x2 {
		grid-column: span 1;
	}
}

@media (max-width: 1024px) {
	
	body {
		grid-template-columns: 50px;
	}

	.menu-btn {
		display: flex;
		height: 110vh;
		width: 100%;
		border: 0;
		background-color: transparent;
		align-content: center;
		z-index: 1001;

	}

	.menu {
		position: fixed;
		margin-top: 0;
		top: 0;
		padding-left: 50px;
		padding-top: 20vh;
		z-index: 1000;
		height: 100vh;
		background-color: rgba(217,234,211,0.95);

		transform: translateX(-100%);
		transition: transform 350ms ease-out;
	}

	.menu[visible="true"] {
		transform: translateX(0%);
	}

	nav ul li a {
		padding: 30px 10px 30px 15px;
	}
}

@media (max-height:  400px) {
	nav ul li a {
		padding: 20px 10px 20px 15px;
	}
}

@media (max-height:  650px) {
	.menu {
		padding-top: 0;
	}
}

@media (max-width:  856px) {
	
	body {
		grid-template-columns: 30px;
	}

	#btn {
		width: 27px;
	}

	.menu {
		padding-left: 30px;
	}

	article {
		padding: 20px;
	}

	.padretitulo {
		display: grid;
		grid-template-columns: 1fr;
	}

	.espaciador {
		display: none;
	}

	.logo {
		height: 250px;
		min-width: 250px;
		padding: 20px;
		justify-self: center;
		margin: 0;
		margin-bottom: 30px;
		position: relative;
	}


	.titulo {
		margin-right: -20px;
		padding-right: 20px;

		margin-top: 20px;
		margin-bottom: 20px;
	}
}


	
}
